:root {
    --bg: #E8EBEE;
    --blue: #4478FF;
    --red: #FF6666;
    --yellow: #FFC700;
    --white: #ffffff;
    --blue-smooth: #E5EFFF;
    --red-smooth: #FFE5E5;
    --gray-middle: rgba(0, 0, 0, 0.5);
    --gray-dark: #4A4A4A;
    --gray-low: rgba(0, 0, 0, 0.3);
    --text-light: #2E2E2E;
    --light-primary: #F0F8FF;
    --link-text: #0080FF;
    --light-border: #F2F2F2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: 120%;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

span {
    font-size: 16px;
    line-height: 20px;
    color: var(--text-light);
}


a {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    opacity: 0.5;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    text-transform: uppercase;
}



